* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /* padding and border are included in width and height */
}

body {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center elements horizontally */
    background: #00FFFF ;/* Light blue background */
    height: 100vh; /* Full viewport height */
 
    background: linear-gradient(175deg, #00c6ff, #18cad7); 
}

.about,
.header {
    width: 100%; /* Take full width */
    text-align: left; /* Align text to the left */
    margin-left: 100px; /* Add spacing from the left */

}

.header{
    margin-bottom: 10px; /* Add spacing from bottom side to paragraph*/
    margin-top:10px;     /* Add spacing from top of the screen*/
}

.converter {
    padding: 20px;
    background: linear-gradient(20deg, #00c6ff, #047179); 
    border-radius: 1rem;     
    margin-left:-120px;    /*take conversion container from center to little bit left*/
    margin-top:20px;        
    gap: 20px;              
}

.arrow-image{
    width: 40px;
    height: auto;
    transform: rotate(90deg);
    margin-left: 40%;
    margin-right: 50%;
}

.converter select,
.converter input{
    padding:4px;
    overflow: hidden;  /*if content overflows in element then overflow is clipped*/
    font-size:20px;
    margin-top:10px;
    margin-bottom:10px;
}

/* making responsive for smaller width screen */
@media (max-width: 580px) {
    .converter {
      flex-direction: column; /*when screen gets smaller converter gets vertically aligned */
      align-items: center;
      width: 40%;
    }
  
    input,
    select {
      width: 100%; /* input and select takes up all width  present at that time */
    }
  }

  #input:focus {

    background-color: rgb(59, 183, 236); /* Change the background color on focus */

    border: 2px solid rgb(6, 6, 107); /* change the border color on focus */

}


.info{
    margin-right:auto; /*space from right is 100percent */
    margin-left:40px;
    margin-top:20px;
}

.h2{
    margin-left:-12px;
}